@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Product Sans', sans-serif;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../public/fonts/Product-Sans/ProductSans-Regular.ttf');
  src: url('../public/fonts/Product-Sans/ProductSans-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../public/fonts/Product-Sans/ProductSans-Bold.ttf');
  font-weight: 800;
  font-style: bold;
}

video {
  border-radius: 15px;
}

#iphone video {
  border-radius: 40px;
}

.react-player__preview {
  border-radius: 15px;
}