@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Product Sans', sans-serif;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../public/fonts/Product-Sans/ProductSans-Regular.ttf');
  src: url('../public/fonts/Product-Sans/ProductSans-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../public/fonts/Product-Sans/ProductSans-Bold.ttf');
  font-weight: 800;
  font-style: bold;
}


@layer components {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

video {
  border-radius: 15px;
}

#iphone video {
  border-radius: 40px;
}

#laptop video {
  border-radius: 0;
}

#popup video {
  border-radius: 0;
}

.react-player__preview {
  border-radius: 15px;
}

@keyframes ticker-kf {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-97.5rem, 0, 0);
  }
}

.img-ticker {
  animation: ticker-kf 100s linear infinite;
}